@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/corporate';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/dark';

$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme((

  sidebar-width: 20rem,
  sidebar-padding: 0rem,
  sidebar-footer-height : 0rem,
  list-item-padding: 0rem,
  chat-padding: 0.5rem 0.8rem,
), dark, dark);
