<nb-layout>
    <nb-layout-header fixed > 
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFill="100">
            <nb-actions >
                <nb-action icon="menu-2-outline" (click)="toggleMenu()"></nb-action>
                <nb-action>BrookersApp</nb-action>
            </nb-actions>
            <nb-actions>
                <nb-action [nbContextMenu]="userMenu" nbContextMenuTag="user-menu">
                    <nb-user [name]="user?.userName" [picture]="user?.avatar"></nb-user>
                </nb-action>
            </nb-actions>
        </div>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" flex responsive [state]='menuSbState.value' >
        <nb-menu [items]="menuItems"></nb-menu>
    </nb-sidebar>
    
    <nb-layout-column fxFlex="80" fxFlexOffset="10" >
                <router-outlet ></router-outlet>
    </nb-layout-column>
        <nb-sidebar class="chat-sidebar" responsive right [state]='chatService.chatSbState.value' class="menu-sidebar" tag="chat-sidebar">
            <nb-sidebar-header fxLayoutAlign="end">
                <nb-actions>
                    <nb-action icon="search"></nb-action>
                    <nb-action><input nbInput outline (keyup)="onKeyUp($event)"></nb-action>
                </nb-actions> 
            </nb-sidebar-header>
            <app-chat-sidebar ></app-chat-sidebar>
        </nb-sidebar>
        <nb-layout-footer fixed fxLayout="row" fxLayoutAlign="end end">
            <nb-actions size="medium">
                <nb-action icon="message-circle-outline" 
                    [badgeDot]="(notificationService.unreadMessages$ | async)?.length > 0"
                    badgePosition="top left"
                    badgeStatus="danger"
                    (click)="chatService.toggleChat()">
                </nb-action>
            </nb-actions>
        </nb-layout-footer>
</nb-layout>