<nb-layout>
    <nb-layout-header fixed>
        <app-nav-bar></app-nav-bar>
    </nb-layout-header>
    <nb-layout-column  >
        <section fxLayout="row" fxLayout.xs="column" style="height: 100vh;">
            <div fxFlex.gt-xs="60" fxLayoutAlign.gt-xs="space-around start">
                <h1>Intro column</h1>
            </div>
            <div fxFlex.gt-xs="40" fxLayoutAlign="center center" fxShow.xs="false" fxShow="true">
                <app-forms-card ></app-forms-card>
            </div>
        </section>
        <section fxShow.xs="true" fxShow="false" style="height: 100vh;">
            <app-forms-card></app-forms-card>
        </section>
    </nb-layout-column>
       
</nb-layout>
